body{
    margin: 0;
    overflow-x: hidden;
    color: white;
    background-color: black;
    font:normal 12pt cursive,sans-serif;
}

header{
    margin: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgb(24, 23, 23);
}

h1{
    padding: 0 10px;
    font-size: 16pt;
    border: white solid 2px
}

h1,h2{
    margin: 0;
    text-align: center;
    color: #DAA520;
    font-family: 'Shrikhand';
}

nav{
    display: none;
}

a{
    color:#DAA520;
    text-decoration: none;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.coluna{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menu{
    width: 35px;
    height: 35px;
}

.barra{
    width: 90%;
    height: 15%;
    background-color:#DAA520;
}

section{
    width: 100vw;
    border-bottom: white solid 1px;
}

#intro{
    width: 100vw;
    height: calc(100vh + 70px)!important;
    justify-content: center!important;
    background-color: white;
}

p{
    padding: 0 10px;
}

#intro p{
    color: #8F643A;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.300);
}

#sobre img{
    border: white solid 2px;
}

#desenvolvimento img{
    margin: 10px 0;
    width: 280px;
    height: 200px;
}