@media(min-width: 440px){
    h1{
        font-size: 22pt;
    }
    #intro p{
        font-size: 20pt;
    }
    #desenvolvimento img{
        width: 400px;
        height: 300px;
    }
    nav a{
        font-size: 15pt;
        padding: 0 10px;
    }
    #subir{
        width: auto;
        height: auto;
        font-size: 15pt;
    }
}